main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 1rem 0;
  max-width: 550px;
  width: 100%;
}

.search {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.search--input {
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  font-size: 1rem;
  flex: 1 0 auto;
  margin-right: 0.5rem;
  padding: 0 1rem;
}

.search--input:focus {
  outline-color: #00b4b3;
}

.search--button {
  flex: 0;
}

@media screen and (min-width: 1040px) {
  main {
    max-width: 1000px;
  }
}
